@media (min-width: 768px) {
    .movie_library_container{
        padding-left: 110px;
        padding-right: 110px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .movie_library_container_paragraph{
        width: 60%;
    }
}
@media (max-width: 768px) {
    .movie_library_container{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .movie_library_container_paragraph{
        width: 100%;
    }
}